*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span{
    color: rgb(255, 3, 3);
   
}
.footer{
    background: black;
    height: 450px;
    color: white;

}
.footer p{
    padding-top: 20px;
}